body{
    margin: 0;
    text-align: center;
}
.hide{
    display: none;
}
.flex{
    display: flex;
}
.graphics-container{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.image{
    max-height: 200px;
}
.scoreboard-container{
    flex-basis: 200px;
    justify-content: space-between;
}
.score{
    font-size: 64px;
}
.form-container{
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}
.input-container{
    flex: 0 1 33%;
}
.form-img{
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 150px;
}
.submit{
    background-color: #3882F6;
    border: 1px solid #f9faf8;
    color: #F9FAF8;
    border-radius: 10px;
    margin:0 auto;
}
.pop-up{
    font-size: 84px;
    height: 100%;
    width: 100%;
    position: absolute;
    color: red;
}